:root {
  /* Background colors */
  --background-color-dark: #262626;
  --background-color-light: #fff;
  --background-color-orangered: #ff4500;
  /* Text colors */
  --text-color-dark: #262626;
  --text-color-light: #fff;
  --text-color-green: #90ee90;
  /* Shadow */
  /* Padding */
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
  opacity: 1;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: lightgreen;
  cursor: pointer;
}

h1,
h2,
h3 {
  line-height: 1.5;
  margin: 0.5em 0;
  text-align: center;
}

p {
  font-size: 1.5em;
  text-align: center;
  padding: 1rem 2rem;
}

/* header {
  background: linear-gradient(180deg, rgba(235, 82, 5, 0.2), rgba(0, 0, 0, 0.5)),
    url("/images/background-3.jpg") center/cover no-repeat;
  min-height: 100vh;
  width: 100%;
} */

section {
  margin: 2rem 0;
}

.btn {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 3rem;
  cursor: pointer;
  color: var(--text-color-green);
  border: none;
}

.btn:hover {
  background-color: rgba(12, 138, 255, 0.5);
  color: var(--text-color-light);
}

/* Contact button */
.contact-btn {
  display: none;
}

/* Utility classes */

/* Header */
header {
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  min-height: 120vh;
  width: 100%;
  background-color: #262626;
}
.block {
  background-color: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  box-shadow: 10px 10px 50px rgba(119, 31, 31, 0.975);
  position: absolute;
  border-radius: 5px;
}

.animated-blocks {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.animated-text {
  position: absolute;
  z-index: 100;
  padding: 1rem;
}

.animated-text h1 {
  font-size: 2em;
  color: var(--text-color-light);
}

.animated-text h2 {
  font-size: 1.5em;
  color: var(--text-color-light);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 2rem;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

.nav-toggle:hover {
  transition: all 1s;
}

.links {
  height: 0;
  overflow: hidden;
  display: none;
}

.links a {
  color: var(--text-color-light);
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 1rem 1rem;
  margin: 1rem;
  cursor: pointer;
}

.links a:hover {
  transition: all ease-in-out 0.25s;
  color: var(--text-color-light);
  box-shadow: 3px 3px 10px 5px var(--text-color-green);
}

.scroll-links > * {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  cursor: pointer;
  padding: 1em;
}

.scroll-links:hover {
  color: var(--text-color-dark);
}

/* Toggle the navbar */
.links-toggle {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--background-color-dark);
  height: 400px;
  width: 100%;
  position: absolute;
  left: 0%;
  right: 0;
  top: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Fixed nav  bar on scroll */
.fixed {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0%;
  right: 0%;

  height: 10vh;
  width: 100%;

  transition: all ease-out 1s;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--text-color-light);
}

.logo {
  color: var(--text-color-light);
  font-size: 1.2rem;
}

/* banner  for the header*/
.banner {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner p {
  color: var(--text-color-light);
}

.banner-heading-container {
  background-color: var(--background-color-orangered);
  display: inline-block;
  color: var(--text-color-light);
  line-height: 2;
}

.banner-heading-container h1 {
  font-size: 2em;
}

/* !There will be 2 methods to split content on the page */
/* Flexbox*/
#split {
  display: flex;
  flex-direction: column;
}

/* The grid version will only be used on larger screens */

/* Class to place the content in the middle of the page */
.container {
  width: min(90%, 90rem);
  margin-inline: auto;
  overflow: hidden;
}

/* Text containers */
.skills-text-container h1 {
  font-size: 4em;
}
.skills-text-container p {
  font-size: 1.4em;
  padding: 0 2rem;
  line-height: 1.8;
}

.text-container-projects {
  font-size: 2em;
}

.contact-container-text h1 {
  font-size: 4rem;
}

.contact-container-text p {
  font-size: 1.4rem;
  line-height: 1.8;
  padding: 0 2rem;
}

.footer-text-container p {
  padding: 2rem;
}

/* Material icons */
.material-icons {
  color: var(--background-color-light);
  cursor: pointer;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Coursel with projects */

.projects {
  padding: 2rem;
}

.slider-container {
  width: 80vw;
  margin: 0 auto;
  height: 55vh;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  margin-top: 2rem;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.25s ease-in-out;
  text-align: center;
}

.slide-img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.prevBtn {
  position: absolute;
  top: 50%;
  left: 1em;
  font-size: 2em;
  cursor: pointer;
  color: var(--text-color-light);
}

.nextBtn {
  position: absolute;
  top: 50%;
  right: 1em;
  font-size: 2em;
  cursor: pointer;
  color: var(--text-color-light);
}

.prevBtn:hover,
.nextBtn:hover {
  color: var(--hover-links-dark);
}

@media (min-width: 50em) {
  .slider-container {
    height: 50vh;
  }
}
@media (min-width: 60em) {
  .slider-container {
    height: 60vh;
  }
}
@media (min-width: 70em) {
  .slider-container {
    height: 70vh;
  }
}

/* Skills section */

.icon-list .icon {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
}

.icon {
  animation-name: slidein;
  animation-duration: 2.5s;
}

@keyframes slidein {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 50%;
    width: 100%;
  }
}

.icon img {
  width: 100px;
  height: 100px;
}

/* Contact section */

/* Contact form */

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  background-color: var(--background-color-light);
  color: #262626;
  margin: 2em;
  padding: 2em;
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 1);
  border-radius: 10%;
  border: none;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  border: none;
  width: 70%; /* Full width */
  padding: 2em; /* Some padding */
  border-radius: 5px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  box-shadow: 5px 5px 20px 5px rgb(8, 246, 0, 0.6);
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

.contact-container-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* footer styling */
.footer-container {
  background-color: var(--background-color-dark);
  color: var(--text-color-green);

  padding: 2rem;
}

/* Media queries */
@media (min-width: 60em) {
  /* Splitting methods */
  #split {
    flex-direction: row;
  }

  #split-vertical {
    flex-direction: column;
  }

  #split > * + * {
    margin-left: 1em;
  }

  #grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* Navbar */
  .nav-toggle {
    display: none;
  }

  .links {
    display: block;
    height: auto;
  }

  .links > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .scroll-links a {
    background-color: rgb(0, 0, 0, 0.5);
    color: lightgreen;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
  }

  .scroll-links a:hover {
    transition: all ease-in 0.5s;
  }

  .contact-btn {
    display: inline-block;
  }
  /* Text containers */

  .skills-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  /* Contact form  */
  .contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
